@import "./breakpoint";

$primary-color: red;
$secondary-color: lightblue;

@mixin hovTrasition {
  transition: 0.25s ease-in-out;
  cursor: pointer;
  color: red;
}

$color-primary: blue;

.title {
  color: $color-primary;
}

.navbar {
  background-color: black;
  color: white;
  border: black 3px solid;
  padding: 0px 15px;
  // height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navLinks {
    display: none;

    @include xl {
      display: block;
    }
    a {
      margin: 15px;
    }

    a:hover {
      @include hovTrasition();
    }
  }
}

.footer-section {
  border: black 3px solid;

  height: 30rem;
}

.logo-container {
  min-width: fit-content;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 15px;

  .logo-main-text {
    color: $primary-color;
    font-weight: 600;
    // font-weight: 800;
    font-size: 1.75rem;
    span {
      color: $secondary-color;
      // font-weight: 400;
    }
  }
  .logo-sub-text {
    font-size: 0.75rem;
    letter-spacing: 2px;
  }
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 1rem;

  div > * {
    font-size: 1.75rem;
  }

  div > *:hover {
    @include hovTrasition();
  }

  .hamburger-menu {
    @include xl {
      display: none;
    }
  }

  .join-btn {
    display: none;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0.75rem;
    color: white;
    background: -webkit-linear-gradient(
      0deg,
      transparent 50%,
      $secondary-color 50%
    );
    background-size: 400px 80px;
    transition: 0.8s;
    @include sm {
      display: block;
    }
  }

  .join-btn:hover {
    background-position: 200px 0px;

    color: $primary-color;
    cursor: pointer;
  }
}
