@import "./breakpoint";

$color-primary: blue;

.title {
  color: $color-primary;
}

.navbar {
  // background-color: black;
  // color: white;
  border: black 3px solid;
  padding: 0px 15px;
  // height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navLinks {
    display: none;

    @include lg {
      display: block;
    }
    a {
      margin: 15px;
    }
  }
}

.footer-section {
  border: black 3px solid;

  height: 30rem;
}

.logo-container {
  min-width: fit-content;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 15px;

  .logo-main-text {
    color: red;
    font-weight: 600;
    // font-weight: 800;
    font-size: 1.75rem;
    span {
      color: lightblue;
      // font-weight: 400;
    }
  }
  .logo-sub-text {
    font-size: 0.75rem;
    letter-spacing: 2px;
  }
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 1rem;

  div > * {
    font-size: 1.75rem;
  }

  div > *:hover {
    transition: 0.25s ease-in-out;
    cursor: pointer;
    color: red;
  }

  .hamburger-menu {
    @include lg {
      display: none;
    }
  }
}
