@import "../../styles/breakpoint";
@import "../../styles/global";

.ceo-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }
  margin: 5rem 10%;
  // max-width: 2000px;
  // margin-top: 5rem;
  // margin-bottom: 5rem;
  // align-items: center;
  justify-items: center;
  @include xxl {
    gap: 5rem;
    margin: 10rem 10%;
  }
}

.ceo-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  @include md {
    width: 25rem;
    height: 25rem;
  }
  @include xxl {
    width: 35rem;
    height: 35rem;
    // justify-self: end;
  }

  width: 15rem;
  height: 15rem;

  background-image: linear-gradient($primary-color, $secondary-color);
  // margin-top: 15rem;
  // border: 10px solid linear-gradient(red, lightblue);
  // background: red;
  border-radius: 50%;
  // padding: 10px;

  .ceo-image {
    border-radius: 50%;
    @include md {
      width: 24rem;
      height: 24rem;
    }
    @include xxl {
      width: 34rem;
      height: 34rem;
    }
    width: 14rem;
    height: 14rem;
    border: 5px solid white;
  }
}

.ceo-info-container {
  text-align: center;
  padding: 1.5rem;
  h2 {
    font-size: 3rem;
    @include md {
      font-size: 4rem;
    }
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 2rem;
    @include md {
      font-size: 3rem;
    }
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    @include md {
      font-size: 2rem;
    }
    margin-bottom: 1rem;
  }

  .ceo-links {
    display: flex;
    justify-content: center;
    div {
      margin: 1rem;
      padding: 0.9rem;
      border-radius: 50%;
      font-size: 1.7rem;
      background-color: #eeedeb;
    }

    div:hover {
      cursor: pointer;
      background-color: red;
      color: white;
      transition: 0.25s ease-in-out;
    }
  }
}

.history-gallery-container {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: 1px;
  animation-range-end: 300px;
  display: grid;
  gap: 1rem;
  @include lg {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  grid-template-columns: repeat(1, 1fr);
  margin: 5rem 5%;
  @include xxl {
    margin: 10rem 10%;
  }
  text-align: center;
  justify-items: center;
  align-items: center;
  .body-text {
    padding: 3rem;
    h2 {
      @include lg {
        font-size: 4rem;
      }
      font-size: 3rem;
    }
    p {
      font-size: 1.3rem;
      @include lg {
        font-size: 1.7rem;
      }
      @include xxl {
        padding: 0 10%;
        // font-size: 2rem;
      }
    }
  }
}
