@import "../../styles/global";
@import "../../styles/breakpoint";

.blog-page-container {
  margin: 2rem;
}
.blog-page {
  @include lg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-container {
  grid-column-start: 1;
  grid-column-end: 3;
}

.blog-post-container {
  @include lg {
    margin-right: 1rem;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .blog-info-container {
    margin-top: 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    .author-icon {
      color: red;
      margin-right: 0.5rem;
    }
  }
  p {
    font-size: 1.3rem;
  }
  .blog-view-button {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 40%;
  }
}

.blog-find-container {
  @include lg {
    margin-left: 1rem;
  }
  .categories-title {
    font-size: 1.75rem;
    font-weight: 600;
    text-decoration: underline $primary-color;
    text-underline-position: under;
    text-decoration-thickness: 6px;
  }

  .categories-drop-down {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.25rem;

    .blog-count {
      margin-left: auto;
    }
  }
  .categories-drop-down:hover {
    @include hovTrasition();
  }
}

// blog search bar

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid lightgray;
  border-right: none;
  padding: 1rem;
  height: 4.5rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
  font-size: 1.3rem;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 6rem;
  height: 4.5rem;
  border: 1px solid $primary-color;
  background: $primary-color;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.blog-search-bar {
  width: 100%;
  margin-bottom: 4rem;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}
