@import "./styles/global";
@import "./styles/breakpoint";

@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

.home-hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   background-color: black;
  .home-hero-text {
    position: absolute;
    text-align: center;
    top: 8rem;
    @include sm {
      top: 15rem;
    }
    @include md {
      top: 20rem;
    }
    @include lg {
      top: 25rem;
    }
    @include xxl {
      left: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    // left: 1rem;
    // top: 13rem;

    color: white;
    // background-color: red;
    z-index: 2;
    h2 {
      font-size: 1.75rem;
      @include sm {
        font-size: 2rem;
      }
      @include md {
        font-size: 4.5rem;
        font-weight: 600;
      }
    }
    h3 {
      font-size: 1.25rem;
      margin-top: 0.5rem;
      @include sm {
        font-size: 1.5;
      }
      @include md {
        font-size: 4rem;
      }
    }
  }
}

.home-hero-button {
  margin-top: 2rem;
  @include md {
    width: 20rem;
  }
  width: 18rem;

  // width: 10rem;
}

.home-hero-img {
  z-index: 1;
  width: 100%;
  filter: brightness(80%);
  @include xxl {
    height: 80rem;
  }
  // height: 30rem;
  // height: 100rem;
}

.home-hero-cards {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: -150px;
  animation-range-end: 300px;

  transform: translateY(-5rem);
  padding: 3rem;
  z-index: 3;
  display: grid;
  @include xl {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    transform: translateY(-6rem);
  }
  @include xxl {
    gap: 3rem;
  }
}

.home-hero-card {
  background-color: white;
  box-shadow: 0px 5px 5px 5px grey;
  // margin: 0rem 2rem;
  margin-bottom: 2rem;
  // border: 3px solid red;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  @include xxl {
    width: 30rem;
  }

  .home-hero-progress-icon {
    font-size: 4rem;
    @include sm {
      font-size: 6rem;
    }
    color: $primary-color;
    margin-bottom: 1rem;
  }
  h2 {
    // font-size: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    @include sm {
      font-size: 2rem;
    }
  }
  p {
    font-size: 1rem;
    // font-size: 1.5rem;
    @include sm {
      font-size: 1.5rem;
    }
    margin-top: 1rem;
  }
}

.home-hero-card:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

// Virtural tour section

.virtual-tour-container {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 10rem;
  @include xl2 {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.virtual-tour-text-container {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: 1px;
  animation-range-end: 300px;

  @include xl2 {
    max-width: 850px;
  }
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  margin-bottom: 6rem;
  h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.25rem;
    margin-bottom: 4rem;
  }
}

.virtual-tour-icons {
  display: grid;
  @include md {
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.virtual-tour-icon {
  @include md {
    padding: 2rem;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
  color: $primary-color;
  margin-bottom: 3rem;
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
  }
}
.virtual-icon-border {
  @include md {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
  }
}

.tour-button-container {
  margin-top: 4rem;
}

.virtual-tour-image-container {
  border-top: 20px solid $primary-color;
  border-right: 20px solid $secondary-color;
  display: none;
  @include xl2 {
    display: block;
    padding: 2rem;
    width: 600px;
    min-width: 600px;
  }
}

// coaches section

.home-coach-container {
  color: white;
  background-color: #1a1a1d;
  text-align: center;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 1px;
    animation-range-end: 300px;
    font-size: 2.25rem;
    @include sm {
      font-size: 3rem;
    }

    margin-bottom: 2rem;
  }

  p {
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 1px;
    animation-range-end: 300px;
    font-size: 1.25rem;
    @include sm {
      font-size: 1.5rem;
    }

    margin-bottom: 3rem;
  }

  .coaches {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    // @include sm {
    //   grid-template-columns: repeat(2, 1fr);
    // }
    @include xl2 {
      grid-template-columns: repeat(3, 1fr);
    }
    justify-items: center;
    align-content: center;
    gap: 2rem;
  }

  .coach-container {
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 1px;
    animation-range-end: 300px;
    transition: 0.25s ease-in-out;
    color: black;
    border-radius: 15px;
    padding: 2rem;
    background-color: white;
    width: 20rem;
    @include sm {
      width: 25rem;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 20%;

    .coach-img {
      width: 15rem;
      height: 15rem;
      @include sm {
        width: 20rem;
        height: 20rem;
      }

      border-radius: 50%;
      // border: 1px solid black;
    }
    .coach-text {
      padding: 1rem;
      h3 {
        font-size: 2rem;
        font-weight: 600;
      }
      h4 {
        font-size: 1.25rem;
      }
      .coach-socials {
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        gap: 15px;
        font-size: 1.25rem;
      }
    }
  }
  .coach-container:hover {
    // cursor: pointer;
    // transition: 0.25s ease-in-out;
    @include hovTrasition();
    transform: scale(1.05);
    .coach-socials {
      color: $secondary-color;
      transition: 0.25s ease-in-out;
    }
  }
}

.home-gym-class-container {
  // position: relative;
  // overflow: hidden;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: -150px;
    animation-range-end: 300px;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
  }
}
.home-gym-classes {
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
  @include xl {
    grid-template-columns: repeat(3, 1fr);
  }
  @include xxl {
    grid-template-columns: repeat(4, 1fr);
  }

  // grid-auto-rows: minmax(350px, auto);
  gap: 1.5rem;
}

.home-gym-class {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: 1px;
  animation-range-end: 300px;

  border: 1px solid black;
  // padding: 3rem;
  position: relative;
  overflow: hidden;
  // grid-column: span 2;

  height: 25rem;
  width: 20rem;
  @include md {
    height: 30rem;
    width: 22rem;
  }

  // width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 2;
  cursor: pointer;

  .home-gym-class-text {
    padding: 2.5rem;
  }

  h3 {
    color: white;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  p {
    color: white;
    // width: 50%;
    padding: 0.75rem;
    font-size: 1.3rem;
    background-color: red;
  }
}

.gym-class-image {
  position: absolute;
  z-index: -2;
  height: 100%;
  width: 100%;

  filter: grayscale(80%);
  transition: all 0.3s;
}

.home-gym-class:hover {
  .gym-class-image {
    transform: scale(1.2);
    filter: grayscale(0%);
    cursor: pointer;
  }
}
