@import "./styles/global";
@import "./styles/breakpoint";

.home-hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   background-color: black;
  .home-hero-text {
    position: absolute;
    text-align: center;
    top: 8rem;
    @include sm {
      top: 15rem;
    }
    @include md {
      top: 20rem;
    }
    @include lg {
      top: 25rem;
    }
    @include xxl {
      left: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    // left: 1rem;
    // top: 13rem;

    color: white;
    // background-color: red;
    z-index: 2;
    h2 {
      font-size: 1.75rem;
      @include sm {
        font-size: 2rem;
      }
      @include md {
        font-size: 4.5rem;
        font-weight: 600;
      }
    }
    h3 {
      font-size: 1.25rem;
      margin-top: 0.5rem;
      @include sm {
        font-size: 1.5;
      }
      @include md {
        font-size: 4rem;
      }
    }
  }
}

.home-hero-button {
  margin-top: 2rem;
  @include md {
    width: 20rem;
  }
  width: 18rem;

  // width: 10rem;
}

.home-hero-img {
  z-index: 1;
  width: 100%;
  filter: brightness(80%);
  @include xxl {
    height: 80rem;
  }
  // height: 30rem;
  // height: 100rem;
}

.home-hero-cards {
  transform: translateY(-5rem);
  padding: 3rem;
  z-index: 3;
  display: grid;
  @include xl {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    transform: translateY(-6rem);
  }
  @include xxl {
    gap: 3rem;
  }
}

.home-hero-card {
  background-color: white;
  box-shadow: 0px 5px 5px 5px grey;
  // margin: 0rem 2rem;
  margin-bottom: 2rem;
  // border: 3px solid red;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  @include xxl {
    width: 30rem;
  }

  .home-hero-progress-icon {
    font-size: 4rem;
    @include sm {
      font-size: 6rem;
    }
    color: $primary-color;
    margin-bottom: 1rem;
  }
  h2 {
    // font-size: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    @include sm {
      font-size: 2rem;
    }
  }
  p {
    font-size: 1rem;
    // font-size: 1.5rem;
    @include sm {
      font-size: 1.5rem;
    }
    margin-top: 1rem;
  }
}

.home-hero-card:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
