@import "../../styles/global";
@import "../../styles/breakpoint";

.classes-page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.gym-classes-container {
  display: grid;
  margin: 5rem 2rem;
  justify-content: center;
  justify-items: center;
  gap: 2rem;
  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }
  @include xxl {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gym-class-template {
  position: relative;
  color: white;
  // color: black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 2;
  justify-content: end;
  // border: 1px solid orange;
  height: 35rem;
  width: 20rem;

  @include sm {
    height: 40rem;
    width: 29rem;
  }
  border-radius: 15px;
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-decoration: underline $primary-color;
    text-underline-position: under;
    text-decoration-thickness: 6px;
  }

  .teacher-container {
    margin-right: 0.75rem;
    // margin-bottom: 1rem;
  }
  span {
    // z-index: 3;
    font-size: 1.5rem;
    // margin-bottom: 1rem;

    div {
      display: inline-block;
    }
  }
  .card-text-container {
    margin-bottom: 5rem;
    margin-left: 3rem;
  }
}

.background-img-div {
  position: absolute;
  z-index: -2;
  height: 100%;
  width: 100%;
}

.button-container {
  margin-top: 2rem;
  width: 100%;
  @include sm {
    width: 70%;
  }
}
