@import "../../styles/global";
@import "../../styles/breakpoint";

// .gallery-post {
//   height: 15rem;
//   width: 15rem;
// }
.gallery-page-container {
  h2 {
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 1px;
    animation-range-end: 300px;
    margin-bottom: 2rem;
    font-size: 2rem;
    @include sm {
      font-size: 4rem;
    }
    font-weight: 600;
  }
  p {
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 1px;
    animation-range-end: 300px;
    font-size: 1.5rem;
    margin-bottom: 4rem;
    max-width: 1000px;
  }
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
  @include xl {
    grid-template-columns: (repeat(3, 1fr));
  }

  margin-left: auto;
  margin-right: auto;
  justify-items: start;
  gap: 2rem;
  margin-bottom: 3rem;
}

.gallery-post-img {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: -100px;
  animation-range-end: 300px;
  height: 30rem;
  width: 30rem;
  // @include md {
  //   height: 40rem;
  //   width: 40rem;
  // }
}
